@font-face {
  font-family: 'SuikaWiki Composed Han p';
  src: url(hanmin/p.ttf);
  unicode-range: U+200D,U+3005-3099,U+3400-9FEF,U+F91B-FAD9,U+16FF0-16FF1,U+20000-2EBE0,U+2EDE0,U+2F813-2F81F,U+2F94C-2F9FF;
  font-display: fallback;
}
@font-face {
  font-family: 'SuikaWiki Composed Han q';
  src: url(hanmin/q.ttf);
  unicode-range: U+200D,U+302A-3099,U+9FAF-9FFF,U+16FF0-16FF1,U+2A6D7-2A8B6,U+2AF06,U+2B065,U+2B345-2B358,U+2B5A0,U+2B6B7-2EE5D,U+30000-323AE;
  font-display: fallback;
}
@font-face {
  font-family: 'SuikaWiki Composed Han r';
  src: url(hanmin/r.ttf);
  unicode-range: U+200D,U+2E80-3099,U+31C0-31E1,U+3403-9FCC,U+16FF0-16FF1,U+2008A,U+25AD7,U+27D73,U+2A002-2CE9E,U+2D3DC,U+2F89C,U+2F9A7-2FA13;
  font-display: fallback;
}
@font-face {
  font-family: 'SuikaWiki Composed Han s';
  src: url(hanmin/s.ttf);
  unicode-range: U+200D,U+302A-3099,U+9FEB-9FF3,U+16FF0-16FF1,U+20002-29FFE,U+2A6DE,U+2B74E,U+2C254,U+2C816,U+2DECD,U+2F906,U+30035-3003A,U+302E7-30362,U+305C0-30F04,U+31003-3134A,U+31586,U+3184B,U+31968-319F7,U+31B34-31DA7,U+31F55-31F9D,U+321A6-321CA,U+200D,U+302A-3099,U+6AF8,U+16FF0-16FF1,U+200B0-200F5,U+20611,U+216EA,U+22B0C,U+22E42,U+2300A,U+237F1,U+23F8E,U+24FF2,U+2569A,U+26523,U+267B5,U+279B4,U+28BFA,U+2F861-2F9ED,U+200D,U+2F07-2F13,U+302A-3099,U+31CA-31E3,U+346B,U+35D1-3658,U+38B1,U+3A18-3BA0,U+3CC9,U+3DDD-3EAF,U+40C4,U+41C4,U+439B,U+4725,U+4DB6-4E54,U+5391,U+5569,U+56D5-5786,U+58B6,U+5FC6-60AD,U+62E5-63B8,U+680D-68C2,U+713E-71F6,U+7597,U+7841,U+8254-827A,U+8BDE,U+8E2D-8E7E,U+8FF3,U+95F9,U+9AC5,U+9FA6-9FFD,U+16FF0-16FF1,U+1D372-1D376,U+20004-279EF,U+27AFC-28665,U+28809-2A2DF,U+2A422-2EE57,U+30002-323AF;
  font-display: fallback;
}
@font-face {
  font-family: 'SuikaWiki Composed Kana unib';
  src: url(kana/unib.ttf);
  unicode-ranges: U+0302,U+0304-0308,U+030A,U+0311,U+0323,U+0325,U+0358,U+1DF8,U+1DFA,U+20DD-20DE,U+3003,U+3006-3007,U+301C,U+3021-302B,U+302D,U+3030-3031,U+3033,U+3035,U+3038-303D,U+3042,U+3044,U+3046,U+3048,U+304A-304B,U+304D,U+304F,U+3051,U+3053,U+3055,U+3057,U+3059,U+305B,U+305D,U+305F,U+3061,U+3064,U+3066,U+3068,U+306A-306F,U+3072,U+3075,U+3078,U+307B,U+307E-3082,U+3084,U+3086,U+3088-308D,U+308F-3093,U+3099-309F,U+30A2,U+30A4,U+30A6,U+30A8,U+30AA-30AB,U+30AD,U+30AF,U+30B1,U+30B3,U+30B5,U+30B7,U+30B9,U+30BB,U+30BD,U+30BF,U+30C1,U+30C4,U+30C6,U+30C8,U+30CA-30CF,U+30D2,U+30D5,U+30D8,U+30DB,U+30DE-30E2,U+30E4,U+30E6,U+30E8-30ED,U+30EF-30F3,U+30FC-30FF,U+3191,U+3300-3357,U+4E44,U+516D,U+591A,U+89A7,U+1AFF0-1AFF3,U+1AFF5-1AFFB,U+1AFFD-1AFFE,U+1B000,U+1B11F-1B122,U+1F200-1F201;
  font-display: fallback;
}
@font-face {
  font-family: 'SuikaWiki Composed Kana unia';
  src: url(kana/unia.ttf);
  unicode-ranges: U+034F,U+200D,U+2018-2019,U+25CC,U+3013,U+3099-309A,U+1B001-1B11E;
  font-display: fallback;
}
:root {
  --suikawiki-composed-font-family: SuikaWiki Composed Han p, SuikaWiki Composed Han pqr, SuikaWiki Composed Han q, SuikaWiki Composed Han r, SuikaWiki Composed Han s, SuikaWiki Composed Kana unib, SuikaWiki Composed Kana unia;
}
/* License: Public Domain. */