






        @import 'https://fonts.suikawiki.org/frq/frq.css';
      


























































































          @font-face {
            font-family: 'BabelStone Han';
            src: url(../babelstonehan-1512/BabelStoneHan.ttf);
            
          }
        

          @font-face {
            font-family: 'CJK Symbols';
            src: url(../cjksymbols-2000/CJKSymbols-Regular.otf);
            
          }
        

          @font-face {
            font-family: 'CJK Symbols 1.001';
            src: url(../cjksymbols-1001/CJKSymbols-Regular.otf);
            
          }
        

          @font-face {
            font-family: 'DroidSansFallback';
            src: url(../DroidSansFallback/DroidSansFallback-aosp.ttf);
            
          }
        

          @font-face {
            font-family: 'DroidSansFallback (free-fonts)';
            src: url(../DroidSansFallback/DroidSansFallback-ff.ttf);
            
          }
        

          @font-face {
            font-family: 'DroidSansFallbackFull';
            src: url(../DroidSansFallback/DroidSansFallbackFull-aosp.ttf);
            
          }
        


          @font-face {
            font-family: 'GNU Unifont';
            src: url(../unifont-15006/unifont.ttf);
            unicode-range: U+0000-FFFF;
          }
        

          @font-face {
            font-family: 'GNU Unifont';
            src: url(../unifont-15006/unifont_csur.ttf);
            unicode-range: U+E000-F8FF, U+F0000-U+10FFFF;
          }
        

          @font-face {
            font-family: 'GNU Unifont';
            src: url(../unifont-15006/unifont_upper.ttf);
            unicode-range: U+10000-10FFFF;
          }
        

          @font-face {
            font-family: 'Gothic Nguyen';
            src: url(../hannomrcv/GothicNguyenRegular.ttf);
            
          }
        

          @font-face {
            font-family: 'Han-Nom Khai';
            src: url(../hannomrcv/HanNomKhaiRegular300623.ttf);
            
          }
        

          @font-face {
            font-family: 'I.Ming';
            src: url(../iming-800/IMing.ttf);
            
          }
        





          @font-face {
            font-family: 'IRGN2107';
            src: url(../uk/IRGN2107.ttf);
            
          }
        

          @font-face {
            font-family: 'IRGN2232';
            src: url(../uk/IRGN2232.ttf);
            
          }
        

          @font-face {
            font-family: 'JIS-Engraving-080803';
            src: url(../jis-engraving-080803/JIS-Engraving.ttf);
            
          }
        

          @font-face {
            font-family: 'Minh Nguyen';
            src: url(../hannomrcv/MinhNguyenExtraLight.ttf);
            
          }
        

          @font-face {
            font-family: 'NameLogos Sans';
            src: url(../namelogos/namelogossans.ttf);
            
          }
        
          @font-face {
            font-family: 'NameLogos Sans';
            font-style: italic;
            src: url(../namelogos/namelogossans-italic.ttf);
            
          }
        

          @font-face {
            font-family: 'NameLogos Serif';
            src: url(../namelogos/namelogosserif.ttf);
            
          }
        
          @font-face {
            font-family: 'NameLogos Serif';
            font-style: italic;
            src: url(../namelogos/namelogosserif-italic.ttf);
            
          }
        

          @font-face {
            font-family: 'NameLogos Serif2';
            src: url(../namelogos/namelogosserif2.ttf);
            
          }
        

          @font-face {
            font-family: 'NomNaTong';
            src: url(../nom-506/NomNaTong-Regular.ttf);
            
          }
        

          @font-face {
            font-family: 'Noto Emoji';
            src: url(../notoemoji-20230907/NotoEmoji-VariableFont_wght.ttf);
            
          }
        

          @font-face {
            font-family: 'Noto Sans';
            src: url(../notosans-2014/NotoSans[wdth,wght].ttf);
            
          }
        
          @font-face {
            font-family: 'Noto Sans';
            font-style: italic;
            src: url(../notosans-2014/NotoSans-Italic[wdth,wght].ttf);
            
          }
        

          @font-face {
            font-family: 'Noto Sans KR';
            src: url(../notosanskr-2004/NotoSansKR-Regular.otf);
            
          }
        

          @font-face {
            font-family: 'Noto Serif';
            src: url(../notoserif-2014/NotoSerif[wdth,wght].ttf);
            
          }
        
          @font-face {
            font-family: 'Noto Serif';
            font-style: italic;
            src: url(../notoserif-2014/NotoSerif-Italic[wdth,wght].ttf);
            
          }
        













































          @font-face {
            font-family: '全字庫正宋體';
            src: url(../cns11643-20221114/TW-Sung-98_1.ttf);
            unicode-range: U+0000-FFFF;
          }
        

          @font-face {
            font-family: '全字庫正宋體';
            src: url(../cns11643-20221114/TW-Sung-Plus-98_1.ttf);
            unicode-range: U+F0000-10FFFF;
          }
        

          @font-face {
            font-family: '全字庫正宋體';
            src: url(../cns11643-20221114/TW-Sung-Ext-B-98_1.ttf);
            unicode-range: U+20000-3FFFF;
          }
        

          @font-face {
            font-family: '全字庫正楷體';
            src: url(../cns11643-20221114/TW-Kai-98_1.ttf);
            unicode-range: U+0000-FFFF;
          }
        

          @font-face {
            font-family: '全字庫正楷體';
            src: url(../cns11643-20221114/TW-Kai-Plus-98_1.ttf);
            unicode-range: U+F0000-10FFFF;
          }
        

          @font-face {
            font-family: '全字庫正楷體';
            src: url(../cns11643-20221114/TW-Kai-Ext-B-98_1.ttf);
            unicode-range: U+20000-3FFFF;
          }
        

          @font-face {
            font-family: '原ノ味明朝';
            src: url(../haranoaji-20230610/HaranoAjiMincho-Regular.otf);
            
          }
        

          @font-face {
            font-family: '原ノ味明朝 (CN)';
            src: url(../haranoaji-20230610/HaranoAjiMinchoCN-Regular.otf);
            
          }
        

          @font-face {
            font-family: '原ノ味明朝 (K1)';
            src: url(../haranoaji-20230610/HaranoAjiMinchoK1-Regular.otf);
            
          }
        

          @font-face {
            font-family: '原ノ味明朝 (KR)';
            src: url(../haranoaji-20230610/HaranoAjiMinchoKR-Regular.otf);
            
          }
        

          @font-face {
            font-family: '原ノ味明朝 (TW)';
            src: url(../haranoaji-20230610/HaranoAjiMinchoTW-Regular.otf);
            
          }
        

          @font-face {
            font-family: '原ノ味角ゴシック';
            src: url(../haranoaji-20230610/HaranoAjiGothic-ExtraLight.otf);
            
          }
        


          @font-face {
            font-family: '原ノ味角ゴシック (CN)';
            src: url(../haranoaji-20230610/HaranoAjiGothicCN-ExtraLight.otf);
            
          }
        


          @font-face {
            font-family: '原ノ味角ゴシック (K1)';
            src: url(../haranoaji-20230610/HaranoAjiGothicK1-ExtraLight.otf);
            
          }
        


          @font-face {
            font-family: '原ノ味角ゴシック (KR)';
            src: url(../haranoaji-20230610/HaranoAjiGothicKR-ExtraLight.otf);
            
          }
        


          @font-face {
            font-family: '原ノ味角ゴシック (TW)';
            src: url(../haranoaji-20230610/HaranoAjiGothicTW-ExtraLight.otf);
            
          }
        


          @font-face {
            font-family: '字躰帳変体仮名';
            src: url(../hentaigana-r50630/hentaigana-r50630.ttf);
            
          }
        

          @font-face {
            font-family: '源暎こぶり明朝';
            src: url(../GenEiKoburiMin-61/GenEiKoburiMin6-R.ttf);
            
          }
        

          @font-face {
            font-family: '霧明朝';
            src: url(../KiriMinL4002/KiriMinL.otf);
            
          }
        /* License: Public Domain. */