@font-face { font-family: "Fallback Red Question"; src: url(frq0.ttf) }
@font-face { font-family: "Fallback Red Question"; src: url(frq1.ttf) }
@font-face { font-family: "Fallback Red Question"; src: url(frq2.ttf) }
@font-face { font-family: "Fallback Red Question"; src: url(frq3.ttf) }
@font-face { font-family: "Fallback Red Question"; src: url(frq4.ttf) }
@font-face { font-family: "Fallback Red Question"; src: url(frq5.ttf) }
@font-face { font-family: "Fallback Red Question"; src: url(frq6.ttf) }
@font-face { font-family: "Fallback Red Question"; src: url(frq7.ttf) }
@font-face { font-family: "Fallback Red Question"; src: url(frq8.ttf) }
@font-face { font-family: "Fallback Red Question"; src: url(frq9.ttf) }
@font-face { font-family: "Fallback Red Question"; src: url(frq10.ttf) }
@font-face { font-family: "Fallback Red Question"; src: url(frq11.ttf) }
@font-face { font-family: "Fallback Red Question"; src: url(frq12.ttf) }
@font-face { font-family: "Fallback Red Question"; src: url(frq13.ttf) }
@font-face { font-family: "Fallback Red Question"; src: url(frq14.ttf) }
@font-face { font-family: "Fallback Red Question"; src: url(frq15.ttf) }
@font-face { font-family: "Fallback Red Question"; src: url(frq16.ttf) }
@font-face { font-family: "Fallback Red Question"; src: url(frq17.ttf) }
@font-face { font-family: "Fallback Red Question"; src: url(frq18.ttf) }
/* License: Public Domain. */
